* {
    margin: 0px;
    padding: 0px;
}

:root {

    --cor-base1: white;
    --cor-base2: #364636;
}

body {
    background-image: url(imgs/background-landpage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.682), black);
    min-height: 100vh;
    padding: 10px;

    & h1 {
        font-family: "Syne", sans-serif;
        font-variant: small-caps;
        font-size: 6em;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.386);
        transition: all 0.5s ease;
        cursor: pointer;

        @media only screen and (max-width: 1000px){
            font-size: 4em;
        }

        @media only screen and (max-width: 600px){
            font-size: 2.8em;
        }

        @media only screen and (max-width: 440px){
            font-size: 1.9em;
        }

        @media only screen and (max-width: 330px){
            font-size: 1.8em;
        }
    }

    & h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-size: 1.8em;
        transition: all 0.5s ease;
        cursor: pointer;

        @media only screen and (max-width: 1000px){
            font-size: 1.4em;
        }

        @media only screen and (max-width: 600px){
            font-size: 1.1em;
        }

        @media only screen and (max-width: 440px){
            font-size: 0.6em;
        }
    }
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    flex-direction: column;
    transition: all 0.5s ease;
    
}

section#titulo {
    max-width: fit-content;
    text-align: center;
    padding: 10px;
    color: var(--cor-base1);
    margin: 15vh auto;
    transition: all 0.5s ease;
    animation: titulos 0.8s ease-out normal;
    
  }

.botoes {
    margin-top: 0px;
    transition: all 0.5s ease;
    animation: botoes 0.8s ease normal;

    @media only screen and (max-width: 900px){
        margin-top: 10px;
    }

    @media only screen and (max-width: 800px){
        margin-top: 10px;
    }

    @media only screen and (max-width: 600px){
        margin-top: 10px;
    }

    @media only screen and (max-width: 440px){
        margin-top: 10px;
    }

    @media only screen and (max-width: 330px){
        margin-top: 10px;
    }
}

.botoes input {
    font-family: "Syne", sans-serif;
    font-weight: 500;
    margin: 5px 50px;
    padding: 10px 40px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #364636;
    color: var(--cor-base1);
    border-radius: 20px;
    border: 1px solid #364636;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.2);
        background-color: transparent;
        color: var(--cor-base1);
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.329);
        border: 1px solid var(--cor-base1);
    }

    @media only screen and (max-width: 800px){
        font-size: 1rem;
    }

    @media only screen and (max-width: 600px){
        margin: 15px;
    }

    @media only screen and (max-width: 440px){
        margin: 10px;
    }

    @media only screen and (max-width: 330px){
        padding: 5px 20px;
        font-size: 0.6rem;
        margin: 5px;
    }

   
  }

#about {
    color: var(--cor-base1);
    padding: 0px 20px 20px 20px;
    text-align: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    max-width: 600px;
    animation: about 1s ease-out normal;


    @media only screen and (max-width: 600px){
        font-size: 0.6em;
    }
}


@keyframes titulos {
    from {
        opacity: 0;
        transform: translateY(-3000px);
    }

    to {
        opacity: 1;
        transform: translateY(section);
    }
}

@keyframes botoes {
    from {
        opacity: 0;
        transform: translateY(3000px);
    }

    to {
        opacity: 1;
        transform: translateY(section);
    }
}

@keyframes about {
    from {
        opacity: 0;
        transform: translateY(3000px);
    }

    to {
        opacity: 1;
        transform: translateY(section);
    }
}